# Fjerne python environment (venv) fra å bli lastet opp
# Bruker requirements fil for å gi liste med pakker som er brukt
/venv/

# Putter api_key og annet viktig inn i .env filen som ikke skal hardkodes inn
# Valgt bevisst å kommentere ut .env filen slik at den lastes opp til github
# .env