# Putter api_key og annet viktig inn i .env filen som ikke skal hardkodes inn
.env

# Virtuelle miljøer
venv/
.venv/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Datafiler (store og gjenopprettbare)
data/raw/
data/clean/
data/analyses_results/

# Unntak for å beholde mappestrukturen i Git
!data/raw/.gitkeep
!data/clean/.gitkeep

# IDE og editor filer
.vscode/
.idea/
*.swp
*.swo
.vs/
*.code-workspace

# Unit test og dekning
htmlcov/
.tox/
.coverage
.coverage.*
.cache
coverage.xml
*.cover
.pytest_cache/

# Loggfiler og databasefiler
*.log
*.sqlite
*.db